<h1> NEW GOUP</h1>


<br/>

    
    <%= form_tag groups_new_group_path, :method => 'POST' do %>
        <%= text_field_tag 'new_group', nil, placeholder:'Enter Group Name', size: 50 %>
        
   
<br/><br/>
<%= form_tag groups_new_group_path, :method => 'POST' do %>
        <%= text_field_tag 'goup_address', nil, placeholder:' Enter Residence', size: 50 %>
<br/><br/>

<%= submit_tag 'Create Group ' %>
        
        <% end %>

    <% end %>
<br/><br/>
<%#=  @nu_grp %>
<%= @res %>