<% page_header "Users" %>


<%= will_paginate %>

<ul>
  <% @users.each do |user| %>
    <strong><%= user.email %></strong>
    <strong><%= user.name %></strong>
    
    <li>
      
      <% unless current_user == user %>
        <%= link_to 'Start Conversation', new_message_path(to: user.id), class: 'btn btn-default btn-sm' %>
       
        <% end %>
    </li>
        
    <% end %>
</ul>

<%= will_paginate %>